doctype html
html
    head
        style(type='text/css').
            .barcode{
                text-align: center;
                width:50%;
                margin: auto;
            }
            .message{
                text-align: left;
                margin: auto;
                font-family: Arial, Helvetica, sans-serif;
                width:80%;
            }
            .title{
                text-decoration: underline;
            }
        title= "Inscription version essaie"
    body

        div.message
            p Bonjour,
            br
            p Voici le lien pour télécharger le logiciel (Windows 10)
            p #{downloadWindow10}
            br
            p Après l'installation du logiciel, vous pouvez démarrer le logiciel et utiliser le lien ci-dessous pour remplir les champs appropriés de la fenêtre de configuration qui s'affichera à votre écran.
            p #{api}
            p Votre nom d'utilisateur par défaut est
            b admin
            p et votre mot de passe est
            b 1234
            br
            p Voici le lien vers le Dashboard qui est une interface pour les administrateurs du système
            p #{dashboard}
            br
            p Contactez-nous pour avoir plus d'informations
            p Merci de votre inscription!
            p L’équipe O-Possum Solution Inc.
            br